<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/get" method="POST">
    <li>   <span>student_id</span><input type="text" name="id"></li>
    <li>   <span>student_name</span><input type="text" name="name"></li>
      <li>  <span>student_age</span><input type="number" name="age"></li>
      <li>  <span>student_gender</span><input type="text" name="gender"></li>
       <li>  <span>student_parent_name</span><input type="text" name="parent_name"></li>
        <li>  <span>student_tel</span><input type="text" name="tel"></li>
        <li>  <span>student_address</span><input type="text" name="address"></li>
        <li>  <span>student_payment_info</span><input type="text" name="payment_info"></li>
        <li>  <span>student_teacher</span><input type="text" name="teacher"></li>
        <li>  <span>student_memo</span><input type="text" name="memo"></li>
        <li> <span>student_daycare</span><input type="number"  name="daycare_id"></li>
      <button>submit</button>
    </form>
</body>
</html>